/***    Search      ***/

* {
    font-family: "Roboto", sans-serif
}
.search-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
    background: rgb(255, 255, 255);
}

.box {
    min-width: 500px;
}