/***    Search      ***/

* {
  font-family: "Roboto", sans-serif;
}
.search-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
}

.box {
  min-width: 500px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0fr));
  gap: 1rem;
  /* margin: 200px 0px; */
  padding: 0;
  list-style-type: none;
  justify-content: center;
}
