.container {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.card {
    text-align: left;
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
    min-height: 1.8rem;
    background-color: rgb(254, 254, 141);
}
.date {
    text-align: right;
    font-size: 14px;
    height: 20px;
}
.date p {
    margin-right: 4px;
}

.text {
    margin-left: 4px;
}
.tooltip {
    height: 5px;
}

.reqly {
    text-align: left;
    padding: 0;
    margin: 0;
    border-radius: 15px;
}