.login-form  {
    max-width: 340px ;
    margin: auto ;
    max-height: 300px;
    width: 50% ;
    padding: 20px ;
    top: 50% ;
    background-color: #FFFFFF ;
}
.login-form-forgot {
    float: right ;
}
.login-form-forgot {
    float: left ;
}
.login-form-button {
    width: 100% ;
}
