.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 92%;
}
.form Button {
  margin-left: 2rem;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.5rem;
}
.input {
  width: 100%;
  height: 11vh;
  margin-bottom: 1rem;
}
.reqly {
  height: 3.5rem;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
