#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}
body {
  direction: ltr;
}
#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

/* .site-layout .site-layout-background {
  background: #fff;
} */
.search {
  background-image: url("../../landing-page-item/images/pexels-pixabay-164022.jpg");
}
.createTimeLine {
  background: linear-gradient(
    45deg,
    rgba(31, 47, 152, 0.4),
    rgb(46, 170, 250)
  ) !important;
}
.main {
  background: #3da3d5;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: rgb(53, 53, 53);
}

.log-out {
  bottom: 0%;
  position: fixed;
  margin-left: 20px;
}
