body {
    background: #3da3d5;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: rgb(53, 53, 53);
}

.title {
    font-size: 15em;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}

h3 {
    padding-top: 0.25em;
}

.vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) ;
    padding: 2em 3em ;
}

.date {
    color: rgb(201, 251, 255);
}

#description {
    margin: 1.5em 0 2em 0;
}

.button {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: white;
}

.workButton {
    background-color: #06d6a0;
}

.workButton:hover {
    background-color: #0ac593;
}

.schoolButton {
    background-color: #f9c74f;
}

.schoolButton:hover {
    background-color: #f3bc3c;
}

@media only screen and (max-width: 1700px) {
    .vertical-timeline-element-date {
        display: block ;
        float: none ;
        color: rgb(44, 44, 44);
        margin-top: 1.5em;
    }
}
.sticky-config{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 80ms ease-in;

}
.chat-icon{
    margin-top: 13px;
    margin-left: 13px;
    width: 55px;
    height: 55px;

}
.sticky-config:active {
    transform: scale(0.95);
}

.sticky-config:focus {
    outline: none;
}

.sticky-config.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}