.forget-pass {
  position: fixed;
  top: 40%;
  left: 50%;
  background: #fff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.forget-pass-inner {
  width: 500px;
  height: 300px;
  background: white;
  border-radius: 30px;
}
.formd {
  padding: 16px;
}
