.forget-pass{
    position: fixed;
    top: 50%;
    left: 50%;
    background: #fff !important;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.forget-pass-inner{

    width: 500px;
    height: 280px;
    background: white;
    border-radius: 30px;
}
.formd{
    padding: 16px;
}